// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Bootstrap
@import "vuetify/dist/vuetify.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

/* adjust the font size for mobile */
@media (max-width: 768px) {
    html {
        font-size: 14px !important;
    }
}

html {
    font-size: 16px;
}

.layout-light {
    --primary-color-default: var(--primary-600);
    --primary-color-inverse-default: var(--surface-0);
    --topbar-sticky-bg: hsla(0, 0%, 100%, 0.7);
    --card-border: 1px solid var(--surface-border);
    --card-bg: var(--surface-card);
    --glow-image: url(https://www.primefaces.org/cdn/primevue/images/layout/pattern.png);
    --glow-blend: hard-light, multiply;
    --topbar-border: rgba(0, 0, 0, 0.05);
    --mobile-menu-bg: var(--surface-overlay);
    --demo-code-bg: var(--surface-800);
    --demo-code-button-color: var(--surface-300);
    --demo-code-button-hover-bg: hsla(0, 0%, 100%, 0.1);
    --demo-code-button-hover-color: var(--surface-100);
    --doc-highlight-text-bg: var(--surface-200);
    --doc-highlight-text-color: var(--surface-700);
}

.layout-dark {
    --primary-color-default: var(--primary-400);
    --primary-color-inverse-default: var(--gray-900);
    --topbar-sticky-bg: rgba(0, 0, 0, 0.3);
    --card-border: 0 none;
    --card-bg: var(--surface-card);
    --glow-image: url(https://www.primefaces.org/cdn/primevue/images/layout/pattern.png),
        radial-gradient(
            50% 50% at center -25px,
            var(--primary-color) 0%,
            #000 100%
        );
    --glow-blend: hard-light, color-dodge;
    --topbar-border: var(--surface-border);
    --mobile-menu-bg: rgba(0, 0, 0, 0.3);
    --demo-code-bg: var(--surface-card);
    --demo-code-button-color: var(--surface-500);
    --demo-code-button-hover-bg: hsla(0, 0%, 100%, 0.1);
    --demo-code-button-hover-color: var(--surface-700);
    --doc-highlight-text-bg: var(--surface-50);
    --doc-highlight-text-color: var(--surface-500);
}

.landing.layout-light {
    --home-highlight-color: #10b981;
    --home-highlight-darker-color: #059669;
    --home-highlight-fore-color: #fff;
    --home-bg: #f8fafc;
    --home-border-color: #e2e8f0;
    --home-primary-text-color: #334155;
    --home-secondary-text-color: #64748b;
    --home-card-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.02),
        0px 28px 28px 0px rgba(0, 0, 0, 0.02),
        0px 63px 38px 0px rgba(0, 0, 0, 0.01);
    --home-box-bg: #fff;
    --home-linkbox-bg: #fff;
    --home-linkbox-border: 1px solid #e2e8f0;
    --home-linkbox-text-color: #334155;
    --home-linkbox-hover-bg: #f1f5f9;
    --home-blocks-bg: transparent;
    --home-blocks-block-bg: #fff;
    --home-blocks-block-shadow: -10px 4px 10px 0px rgba(0, 0, 0, 0.1),
        -10px 4px 25px rgba(0, 0, 0, 0.1);
    --home-blocks-border-left: 5px solid #e2e8f0;
    --home-blocks-border-bottom: 7px solid #e2e8f0;
    --home-blocks-border: 1px solid #e2e8f0;
    --home-blocks-sidebar-bg: #f1f5f9;
    --home-blocks-list-bg: #f8fafc;
    --home-blocks-main-bg: #fff;
    --home-blocks-main-border: 1px solid #e2e8f0;
    --home-blocks-item-bg: #f1f5f9;
    --home-blocks-image-bg: #e2e8f0;
    --home-blocks-text-color: #cbd5e1;
    --home-blocks-active-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.1);
    --home-blocks-active-border-top: 1px solid rgba(0, 0, 0, 0.07);
    --home-blocks-active-border-right: 1px solid rgba(0, 0, 0, 0.07);
    --home-blocks-active-border-bottom: 4px solid rgba(0, 0, 0, 0.07);
    --home-blocks-active-border-left: 4px solid rgba(0, 0, 0, 0.07);
    --home-blocks-animation-shadow: 0px 30px 50px 10px rgba(0, 0, 0, 0.2);
    --home-blocks-tablebar-bg: #cbd5e1;
    --home-blocks-bar-bg: #cbd5e1;
    --home-blocks-bar-button-bg: #fff;
    --home-blocks-circle-bg: #cbd5e1;
    --home-templates-bg: transparent;
    --home-templates-block-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    --home-templates-block-border-left: 5px solid #d1d5db;
    --home-templates-block-border-bottom: 7px solid #d1d5db;
    --home-templates-line: rgba(0, 0, 0, 0.1);
    --home-templates-block-hover-bg: rgba(0, 0, 0, 0.2);
    --home-templates-btn-bg: rgba(0, 0, 0, 0.5);
    --home-templates-btn-text-color: #fff;
    --home-templates-btn-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
    --home-templates-btn-border-top: 1px solid rgba(0, 0, 0, 0.1);
    --home-templates-btn-border-right: 1px solid rgba(0, 0, 0, 0.1);
    --home-templates-btn-border-bottom: 4px solid rgba(0, 0, 0, 0.1);
    --home-templates-btn-border-left: 3px solid rgba(0, 0, 0, 0.1);
    --home-features-card-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.02),
        0px 28px 28px 0px rgba(0, 0, 0, 0.02),
        0px 63px 38px 0px rgba(0, 0, 0, 0.01);
    --home-box-ring-color: var(--primary-200);
}

.landing.layout-dark {
    --home-highlight-color: #34d399;
    --home-highlight-darker-color: #6ee7b7;
    --home-highlight-fore-color: #020617;
    --home-bg: #09090b;
    --home-border-color: #27272a;
    --home-primary-text-color: #fff;
    --home-secondary-text-color: #a1a1aa;
    --home-card-shadow: 0px 50px 100px rgba(0, 0, 0, 0.25);
    --home-box-bg: #18181b;
    --home-linkbox-bg: hsla(0, 0%, 100%, 0.05);
    --home-linkbox-border: 1px solid hsla(0, 0%, 100%, 0.1);
    --home-linkbox-text-color: #fff;
    --home-linkbox-hover-bg: hsla(0, 0%, 100%, 0.1);
    --home-blocks-bg: transparent;
    --home-blocks-block-bg: #09090b;
    --home-blocks-block-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25),
        0px 4px 25px rgba(0, 0, 0, 0.25);
    --home-blocks-border-left: 5px solid #27272a;
    --home-blocks-border-bottom: 7px solid #27272a;
    --home-blocks-border: 1px solid #27272a;
    --home-blocks-sidebar-bg: #18181b;
    --home-blocks-list-bg: #27272a;
    --home-blocks-main-bg: #09090b;
    --home-blocks-main-border: 1px solid #27272a;
    --home-blocks-item-bg: #18181b;
    --home-blocks-image-bg: #27272a;
    --home-blocks-text-color: #52525b;
    --home-blocks-active-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.25);
    --home-blocks-active-border-top: 1px solid #27272a;
    --home-blocks-active-border-right: 1px solid #27272a;
    --home-blocks-active-border-bottom: 6px solid #27272a;
    --home-blocks-active-border-left: 4px solid #27272a;
    --home-blocks-animation-shadow: 0px 30px 50px 20px rgba(0, 0, 0, 0.25);
    --home-blocks-tablebar-bg: #3f3f46;
    --home-blocks-bar-bg: #3f3f46;
    --home-blocks-bar-button-bg: #3f3f46;
    --home-blocks-circle-bg: #27272a;
    --home-templates-bg: transparent;
    --home-templates-block-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
    --home-templates-block-border-left: 5px solid #27272a;
    --home-templates-block-border-bottom: 7px solid #27272a;
    --home-templates-line: hsla(0, 0%, 100%, 0.1);
    --home-templates-block-hover-bg: hsla(0, 0%, 100%, 0.1);
    --home-templates-btn-bg: #18181b;
    --home-templates-btn-text-color: #fff;
    --home-templates-btn-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.25);
    --home-templates-btn-border-top: 1px solid #27272a;
    --home-templates-btn-border-right: 1px solid #27272a;
    --home-templates-btn-border-bottom: 4px solid #27272a;
    --home-templates-btn-border-left: 3px solid #27272a;
    --home-features-card-shadow: none;
    --home-box-ring-color: rgba(52, 211, 153, 0.3);
}
