@use "mixins";

.layout-sidebar {
    position: fixed;
    width: 15rem;
    height: calc(100vh - 8rem);
    z-index: 999;
    overflow-y: auto;
    user-select: none;
    top: 5.5rem;
    left: 2rem;
    transition:
        transform var(--layout-section-transition-duration),
        left var(--layout-section-transition-duration);
    background-color: var(--surface-overlay);
    border-radius: var(--content-border-radius);
    padding: 0.5rem 0.5rem;

    .layout-panel-menu {
        border: none;
        background: transparent;

        .active-route {
            font-weight: 700;
            color: var(--primary-color);
            background: var(--p-highlight-background);
            border-radius: var(--p-content-border-radius);
        }
    }
}
